<%= button_to "Create New User", register_path, method: :get %>

<% if current_user %>
    <%= button_to "Log Out", logout_path %>
<section class='existing-users'>
    <p>Existing Users: </p>
    <% @users.each do |user| %>
        <li><%= user.email %></li>
    <% end %>
</section>
<% else %>
    <%= link_to "I already have an account", login_path %>
<% end %>


<h1><%= session[:greeting] %></h1>